---
import Link from "../elements/Link.astro";
---

<footer>
  <p>Bu site topluluk tarafindan GitHub'da bir araya getirilmistir.</p>
  <Link text="Listeye veya koda katkida bulun." href="https://github.com/mostlyemre/karaliste.org" />
</footer>
