---
import Link from "../elements/Link.astro";
---

<nav>
  <ul>
    <li><Link href="/hakkinda" text="Hakkinda" /></li>
    <li><Link href="/katki" text="Listeye Katki Yap" /></li>
  </ul>
</nav>

<style>
  ul {
    display: flex;
    list-style: none;
    padding: 0;
  }

  li {
    margin-right: 1rem;
  }
</style>
