---
export interface Props {
  href: string;
  text: string;
}

const { href, text } = Astro.props;
---

<a href={href} class="text-blue-400 hover:text-blue-500" target={href.startsWith("http") ? "_blank" : "_self"} rel="noopener noreferrer">{text}</a>
